---
import "../styles/global.css";
import i18next from "../i18n";

// CẤU HÌNH DOMAIN CHÍNH THỨC
// Lưu ý: Không thêm dấu "/" ở cuối
const SITE_URL = "https://MiAgent.io";
const SOCIAL_IMAGE_URL = `${SITE_URL}/og-image.png`; // Bạn cần file ảnh này trong folder /public
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>{i18next.t("meta.defaults.title")}</title>
<meta name="description" content={i18next.t("meta.defaults.description")} />
<meta
  name="keywords"
  content={i18next.t("meta.defaults.keywords")}
/>
<meta name="author" content={i18next.t("meta.defaults.author")} />

<link rel="icon" href="/favicon.ico" sizes="any" />
<link rel="icon" href="/logomi.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<link rel="shortcut icon" href="/logomi.svg" type="image/x-icon" />

<link rel="canonical" href={SITE_URL} />

<meta property="og:type" content="website" />
<meta property="og:url" content={SITE_URL} />
<meta property="og:title" content={i18next.t("meta.defaults.og_title")} />
<meta
  property="og:description"
  content={i18next.t("meta.defaults.og_description")}
/>
<meta property="og:image" content={SOCIAL_IMAGE_URL} />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={SITE_URL} />
<meta property="twitter:title" content={i18next.t("meta.defaults.twitter_title")} />
<meta
  property="twitter:description"
  content={i18next.t("meta.defaults.twitter_description")}
/>
<meta property="twitter:image" content={SOCIAL_IMAGE_URL} />

<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />
<meta name="theme-color" content="#ffffff" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<link rel="preconnect" href="https://rsms.me/" />
<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
<script defer src="https://unpkg.com/alpinejs@3.10.5/dist/cdn.min.js"></script>
